.cart-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
}

.cart-modal__close {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.cart-modal__wrapper {
    width: 100%;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 200;
    margin: 0 25px;
    row-gap: 10px;
}

.cart-modal__total {
    position: absolute;
    left: -10px;
    top: -25px;
    padding: 12px;
    background: var(--btnMain);
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    color: var(--colorLight);
    z-index: 100;
    font-size: 14px;
    font-weight: 700;
}

.cart-modal__btn--close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -10px;
    top: -25px;
    background: var(--btnMain);
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-modal__btn--close img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.cart-modal__list {
    width: 100%;
    height: 360px;
    overflow-y: scroll;
    box-shadow: var(--mainShadow);
    background-color: var(--bgMain);
    border-radius: var(--lowRadius);
    display: flex;
    column-gap: 30px;
    padding: 25px;
    flex-wrap: wrap;
    row-gap: 35px;
}

.cart-modal__list.active {
    height: 267.5px;
}

.cart-modal__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.cart-modal__next {
    width: 160px;
}

.cart-modal__form {
    width: 100%;
    box-shadow: var(--mainShadow);
    background-color: var(--bgMain);
    border-radius: var(--lowRadius);
    display: none;
    align-items: center;
    column-gap: 20px;
    padding: 25px;
    justify-content: space-between;
}

.cart-modal__form--wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.cart-modal__form--input {
    width: 48%;
    padding: 6px 12px;
    border: 2px solid var(--btnMain);
    background-color: var(--colorLight);
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    font-size: 14px;
    font-weight: 700;
    outline: none;
}

@media (max-width: 791px) {
    .cart-modal__list {
        column-gap: 4%;
    }

    .cart-content__item {
        width: 48%;
        max-width: unset;
    }
}

@media (max-width: 660px) {
    .cart-modal__form {
        column-gap: 10px;
        row-gap: 10px;
        flex-direction: column;
        padding: 10px;
    }

    .cart-modal__form--wrapper {
        row-gap: 10px;
        column-gap: 10px;
        flex-direction: column;
    }

    .cart-modal__form--send {
        width: 160px;
    }

    .cart-modal__form--input {
        width: 100%;
    }

    .cart-modal__list.active {
        height: 212.5px;
    }
}

@media (max-width: 520px) {
    .cart-modal__list {
        column-gap: unset;
    }

    .cart-content__item {
        width: 100%;
    }
}