.navbar {
    width: 100%;
    padding: 20px 0;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.navbar-nav__wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.navbar-nav__logo {
    color: var(--btnMain);
    font-weight: 900;
    font-size: 32px;
}

.navbar-nav__filter {
    width: 100%;
    max-width: 120px;
    position: relative;
}

.navbar-nav__filter.active .navbar-nav__filter--list {
    display: flex;
}

.navbar-nav__filter.active .navbar-nav__filter--wrapper {
    border-radius: 4px 4px 0 0;
}

.navbar-nav__filter--wrapper {
    width: 100%;
    column-gap: 10px;
    padding: 8px 12px;
}

.navbar-nav__filter--wrapper span {
    color: var(--colorLight);
    font-weight: 700;
    font-size: 14px;
}

.navbar-nav__filter--list {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    flex-direction: column;
    background-color: var(--bgMain);
    align-items: center;
    padding: 10px;
    box-shadow: var(--lowShadow);
    border-radius: 0 0 4px 4px;
    row-gap: 10px;
    z-index: 100;
}

.navbar-nav__filter--list--input {
    width: 100%;
    padding: 8px 12px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    box-shadow: var(--lowShadow);
    border-radius: var(--lowRadius);
}

.navbar-nav__filter--list--input:focus {
    outline: 2px solid var(--colorMain);
}

.navbar-nav__search {
    width: 100%;
    max-width: 780px;
    display: flex;
    align-items: center;
}

.navbar-nav__search--input {
    width: 100%;
    padding: 10px 12px;
    border: 2px solid var(--btnMain);
    border-right: 0;
    background-color: var(--colorLight);
    border-radius: 4px 0 0 4px;
    box-shadow: var(--lowShadow);
    font-size: 14px;
    font-weight: 700;
    outline: none;
}

.navbar-nav__search a {
    font-size: 14px;
    font-weight: 700;
    color: var(--colorLight);
    padding: 12px 30px;
    border-radius: 0 4px 4px 0;
}

.navbar-nav__cart {
    width: 100%;
    max-width: 120px;
    color: var(--colorLight);
    padding: 8px 12px;
    column-gap: 10px;
    font-size: 14px;
    font-weight: 700;
}

.navbar-nav__lang {
    padding: 8px;
}

.navbar-nav__filter--list--label {
    width: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
    padding-left: 22px;
}

.navbar-nav__filter--list--label span {
    font-size: 14px;
    font-weight: 700;
    color: var(--colorDark);
}

.navbar-nav__filter--list--discount {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.navbar-nav__filter--list--checkbox {
    left: 0;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid var(--btnMain);
    border-radius: 2px;
}

.navbar-nav__filter--list--checked {
    left: 2.5px;
    position: absolute;
    width: 20px;
    height: 20px;
    display: none;
}

@media (max-width: 960px) {
    .navbar-nav__search a {
        padding: 12px 20px;
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .navbar-nav__search {
        order: 1;
        max-width: unset;
    }
}

@media (max-width: 460px) {
    .navbar-nav__cart {
        width: 40px;
        height: 40px;
    }

    .navbar-nav__cart span {
        display: none;
    }
}

@media (max-width: 400px) {
    .navbar-nav,
    .navbar-nav__wrapper {
        column-gap: 10px;
    }
}

@media (max-width: 355px) {
    .navbar-nav__wrapper {
        width: 100%;
        justify-content: space-between;
    }

    .navbar-nav__wrapper:last-of-type {
        order: 2;
    }
}