.products {
    width: 100%;
    padding: 50px 0 100px;
}

.products-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-content__title {
    color: var(--colorDark);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
}

.products-content__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 35px;
}

.products-content__item {
    width: 100%;
    max-width: 210px;
    height: 310px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    background-color: var(--bgLight);
    align-items: flex-start;
}

.products-content__item:hover::before {
    background-color: var(--btnMain);
    transform: translateY(-5px);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.products-content__item::before {
    content: '';
    display: flex;
    position: absolute;
    width: 100px;
    height: 4px;
    border-radius: var(--lowRadius);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--bgLight);
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
}

.products-content__item--img {
    width: 100%;
    height: 145px;
    object-fit: contain;
    margin-bottom: 15px;
}

.products-content__item--name {
    color: var(--colorDark);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.products-content__item--price {
    color: var(--colorLight);
    font-size: 14px;
    font-weight: 700;
    border-radius: var(--lowRadius);
    box-shadow: var(--lowShadow);
    background-color: #FF0000;
    padding: 2px 6px;
    margin-bottom: 35px;
}

.products-content__item--btn {
    width: 100%;
    padding: 8px;
    color: var(--colorLight);
    font-size: 14px;
    font-weight: 700;
}

@media (max-width: 960px) {
    .products-content__wrapper {
        column-gap: 54px;
    }
}

@media (max-width: 768px) {
    .products-content__wrapper {
        column-gap: 4%;
    }

    .products-content__item {
        width: 48%;
        max-width: unset;
    }
}

@media (max-width: 460px) {
    .products-content__item {
        width: 100%;
        max-width: unset;
    }
}